# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3-journal
media
uploads
db.sqlite3
venv/
pip-wheel-metadata/
# Python #
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment #
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific files #
.idea/
.vscode/
*.swp
*.swo

# macOS #
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows #
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Coverage #
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover